<div class="row">
    <div class="col-md-4 col-md-offset-4">
        Validation Errors
        <h1 class="signup">Sign Up</h1>
        <form action="/user/signup" method="post">
            <div class="form-group">
                <label for="email">Email: </label>
                <input type="text" name="email" id="email"class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control">
            </div>
            <button class="btn btn-primary" type="submit" class="">Sign Up</button>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}" >
        </form>
    </div>
</div>