
    <div class="row">
    {{# each products }}
        {{#each this }}
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img class="img-responsive" src="{{this.imagePath}}" alt="...">
                <div class="caption">
                    <h3 class="title">{{this.title}}</h3>
                    <p class="description">{{this.description}}</p>
                    <div>
                    <div class="price">{{this.price}}</div>
                    </div>
                    <p> <a href="#" class="btn btn-success pull-right" role="button">Buy Now</a></p>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        {{/each}}
    {{/each}}
    </div>

